.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 50%;
  width: 30vw;
}
.header {
  border-top: 3vw solid #5cfaff;
  text-align: center;
  font-family: didot, serif;
  background: linear-gradient(180deg, #5cfaff 0%, white 100%);
}
.about-me {
  margin: 0 10vw 0 10vw;
  background-color: lightgray;
  box-shadow: 10px 10px 10px #5cfaff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
}