.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 30vw;
}
.header {
  border-top: 3vw solid rgba(120,245,244,1);
  text-align: center;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(120,245,244,1) 0%, rgba(255,255,255,1) 100%);
}
.about-me {
  margin: 0 10vw 0 10vw;
  background-color: lightgray;
  box-shadow: 10px 5px 5px black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}